.head-logo {
    background-color:#404040 ;
}

.logo {
    height: 60px;
    padding-left:30px;
}

.head-logo ul {
    list-style-type: none;
    float: right;
    padding-right:30px;

}

.head-logo ul li {
    float: left;
    margin: 5px auto;
    /* elementi su singola riga */
}

.head-logo ul li a {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: Segoe UI, bold;
}

.head-logo ul li a:hover {
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: Segoe UI;
    text-decoration: underline;
}

