.head-logo {
    border: 1px solid red;
}

.head-logo {

}

img {
    border: 1px solid blue;
}

.head-logo ul {
    list-style-type: none;
    float: right;
    margin-right: 500px;
}

.head-logo ul li {
    float: left;
    /* elementi su singola riga */
}

.head-logo ul li a {
    color: red;
}
